*{
    margin: auto;
    padding: 0px;

}
.container{
    border: solid black 1px;
   
}

.keys{
    display: grid;
    grid-template-columns: auto auto auto;
    
}

.buttonNumber{
    width: 50px;
    height: 50px;;
    border: solid black 1px;
    text-align: center;
    
}

.display-area{
    display: flex;
    border: solid black 1px;
    width: 30vh;
    height: 50px;
}
.display{
    flex-grow: 4;
   
    text-align: center;
   
}
.operatorType{
    
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    font-size: 4vh;
    font-weight: bold;
    padding: 2%;
    border-left: solid black 1px;
    text-align: center;
}

.currentResult{
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 750px;

}
.buttonsKeys{
    display: flex;
    width: 750px;
}

.OperatorsKeys{
    display: flex;
    width: 750px;
}

.resultTable{
    border: 5px solid black;
}
.operators{

    display: flex;  
}

.OperatorsKeys .operators button{
    border: 1px black none;
    border-radius: 10%;
    padding: 10px;
    background-color: #3882F6;;
    color: #f9FAF8;

    margin: 1%;
    
}
