*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}
body{
    background-color: antiquewhite;
}
.container{
    
    display: flex;
    justify-content: center;

    width: auto;
}
.container-1, .container-2 {
background-color: rgb(238, 126, 74);
border:rgb(68, 35, 35) 2px solid;
border-radius: 1%;
}
.container-2{
    
}
.keys{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
 
}

button{
background-color: rgb(233, 177, 124);
border: solid 1px rgb(70, 47, 18);
border-radius: 5%;
}
button:hover{
    background-color: rgb(214, 149, 84);
    transform: scale(1.02);
    transition: all 0.7s;
    
}
button:active{
    background-color: rgb(136, 86, 36);
    transform: scale(1.5);
    transition: all 1.5s;
}
.buttonLook{
    width: 10vh;
    height: 10vh;
    text-align: center;
    vertical-align: middle;
    line-height: 10vh; 
    font-size: 3vh;
    font-weight: bolder;
    color:rgb(68, 35, 35);
    width: 100%;
    height: 100%;

}

.operator button{
    background-color: rgb(228, 115, 100);
    
}

.display-area{
    display: flex;
    border-top: solid rgb(70, 47, 18) 1px;
    border-bottom: solid rgb(70, 47, 18) 1px;
    background-color: rgb(233, 177, 124);;
    border-radius: 4%;
    text-align: center;
}

.display{
    flex-grow: 4;
    text-align: center;
    height: 80px;
    font-size: 3vh;
}

.operatorType{
    flex-grow: 1;
    font-size: 4vh;
    font-weight: bolder;
    background-color: rgb(228, 183, 147);
    border-left: solid rgb(70, 47, 18) 1px;
    padding: 2%;
}

.currentResult{
    flex-grow: 1;
    text-align: center;
    font-size: 2vh;
    width: 30vh;
    height: 50px;
    background-color: rgb(255, 241, 202);
}

.resultTable{
    width: 40vh;
    text-align: center;
  
}

.resultTable{
    border-bottom: 2px dotted rgb(138, 54, 54);
}

.footer{
    text-align: center;
}
